[package]
name = "parser"
version = "0.1.0"
authors = ["vera"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitvec = "1.0.0"
defaults = {path = "../defaults", default-features = false, optional = true}
definitions = {path = "../definitions", default-features = false, features = ["signer"]}
frame-metadata = { version = "15.0.0", default-features = false, features = ["std", "legacy"]}
hex = "0.4.3"
lazy_static = "1.4.0"
num-bigint = "0.4.3"
parity-scale-codec = {version = "3.1.5", features = ["derive", "bit-vec"]}
printing_balance = {path = "../printing_balance"}
regex = "1.5.6"
scale-info = "2.1.2"
sp-arithmetic = {git = "https://github.com/paritytech/substrate"}
sp-core = {git = "https://github.com/paritytech/substrate", default-features = false, features = ["full_crypto"]}
sp-runtime = {git = "https://github.com/paritytech/substrate", default-features = false}

[features]
default = ["standalone"]
standalone = ["defaults/active"]

[lib]
name = "parser"
crate-type = ["lib"]
