yarn-error.log
*.log

# docs
docs/book

# jest cache
test/.jest/

# NDK
NDK/
rust/.cargo
*.apk

# rust output file
*.a
*.so
.externalNativeBuild

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
gen/
*.hprof
!debug.keystore

# BUCK
buck-out/
\.buckd/
android/libs
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

ios/fastlane/report.xml
ios/fastlane/Preview.html
ios/fastlane/screenshots
ios/fastlane/test_output

# vim
*.swp
.vscode

# Android
.project
android/.project
android/bin
android/src/main/jniLibs
android/src/main/assets/Database/*
android/release
android/debug

# iOS
ios/PolkadotVault/Database/Database/*
ios/PolkadotVault/Generated
*.generated.swift

# rust
rust/target
rust/*/target
rust/db_handling/signer_database
rust/database/database_cold_release
rust/database/database_hot
rust/qrcode_static/*.png
rust/files/completed/*
rust/files/in_progress/*
# development mess
rust/transaction_parsing/src/main.rs
rust/transaction_signing/src/main.rs
