---

matrix:
  include:
  - language: objective-c
    osx_image: xcode10.3

    branches:
      only:
        - master

    cache:
      directories:
        - node_modules
        - $TRAVIS_HOME/.cache/sccache
        - $TRAVIS_HOME/.cargo/
        - $TRAVIS_HOME/.rustup/
        - target

    install:
      - brew tap wix/brew
      - brew install applesimutils
      - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.2/install.sh | bash
      - export NVM_DIR="$HOME/.nvm" && [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
      - nvm install 8
      - nvm use 8
      - nvm alias default 8
      - npm install -g yarn
      - npm install -g react-native-cli
      - npm install -g detox-cli
      - gem install xcpretty
      - curl https://sh.rustup.rs -sSf | sh -s -- -y
      - source $HOME/.cargo/env
      - rustup target add i386-apple-ios
      - rustup target add x86_64-apple-ios
      - rustup target add armv7-apple-ios
      - rustup target add armv7s-apple-ios
      - rustup target add aarch64-apple-ios
      - travis_wait mvn install
      - yarn
      - cd rust/signer && make ios && cd ../..

    script:
      - detox build -c ios.sim.release
      - detox test -c ios.sim.release

# TODO Android part need to be complete with NDK set
#  - language: android
##    env:
##      - REACT_NATIVE_VERSION=0.59.4
#    android:
#      components:
#        - tools
#        - platform-tools
#        - build-tools-28.0.3
#        - android-28
#        - extra-google-google_play_services
#        - extra-google-m2repository
#        - extra-android-m2repository
##        - sys-img-x86-android-26
#        - sys-img-x86-android-28
#
#    cache:
#      directories:
#        - node_modules
#        - $TRAVIS_HOME/.cache/sccache
#        - $TRAVIS_HOME/.cargo/
#        - $TRAVIS_HOME/.rustup/
#        - target
#
#    install:
#      - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.2/install.sh | bash
#      - export NVM_DIR="$HOME/.nvm" && [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
#      - nvm install 8
#      - nvm use 8
#      - nvm alias default 8
#      - npm install -g yarn
#      - npm install -g react-native-cli
#      - npm install -g detox-cli
#      - travis_wait 10 mvn install
#      - yes | sdkmanager "build-tools;28.0.3"
#      - yarn
#
#    script:
#      - detox build -c android.emu.release
#      - detox test -c android.emu.release

  - language: node_js
    node_js: 8

    cache:
      directories:
        - node_modules

    install:
      - yarn

    script:
      - yarn run lint
      - yarn run test
