[package]
name = "qr_reader_pc"
version = "0.2.0"
authors = ["vera"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hex = "0.4.3"
qr_reader_phone = {path = "../qr_reader_phone"}
anyhow = "1.0.65"
indicatif = "0.17.1"

[dependencies.opencv]
version = "0.70"
default-features = false
features = ["objdetect", "videoio", "imgproc", "highgui"]

[dev-dependencies]
image = "0.24.4"
