<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH9fuBDJFsLIrMHegrjUPETga8jsnTBzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1038344838311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.parity.NativeSigner</string>
	<key>PROJECT_ID</key>
	<string>polkadot-vault</string>
	<key>STORAGE_BUCKET</key>
	<string>polkadot-vault.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038344838311:ios:dad01a97af133070538f82</string>
</dict>
</plist>