# format options
--allman false
--indent 4
--maxwidth 120
--commas inline
--decimalgrouping 3
--wraparguments before-first

# file options
--exclude PolkadotVault/Generated/

# rules
--enable blankLineAfterImports
--enable blockComments
--enable isEmpty
--enable wrapAttributes
--enable wrapEnumCases
--enable wrapLoopBodies
--enable wrapMultilineConditionalAssignment
--enable leadingDelimiters
--enable modifierOrder
--disable preferForLoop
--disable wrapMultilineStatementBraces
