<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>P2PX3JU8FT</string>
	<key>uploadBitcode</key>
	<true/>
	<key>compileBitcode</key>
	<true/>
	<key>uploadSymbols</key>
	<true/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution: PARITY TECHNOLOGIES LIMITED (P2PX3JU8FT)</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>io.parity.NativeSigner</key>
		<string>Parity Signer Distribution Profile</string>
	</dict>
</dict>
</plist>

