[package]
name = "transaction_parsing"
version = "0.1.0"
authors = ["vera"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitvec = "1.0.0"
constants = {path = "../constants", default-features = false}
db_handling = {path = "../db_handling", default-features = false, features = ["signer"]}
definitions = {path = "../definitions", default-features = false, features = ["signer"]}
frame-metadata = {version = "15.0.0", default-features = false}
hex = "0.4.3"
parity-scale-codec = "3.1.2"
parser = {path = "../parser", default-features = false}
plot_icon = {version = "0.2.0", default-features = false, features = ["pix"]}
sled = "0.34.6"
sp-core = {git = "https://github.com/paritytech/substrate", default-features = false, features = ["full_crypto"]}
sp-runtime = {git = "https://github.com/paritytech/substrate", default-features = false}

[dev-dependencies]
pretty_assertions = "1"

[lib]
name = "transaction_parsing"
crate-type = ["lib"]
