[package]
name = "definitions"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
eth-blockies = "1.0.0"
constants = { path = "../constants" }
frame-metadata = {version = "15.0.0", features = ["std", "legacy"]}
hex = "0.4.3"
libsecp256k1 = "0.7.1"
parity-scale-codec = {version = "3.4.0", features = ["derive"]}
plot_icon = {version = "0.2.0", optional = true}
sc-executor-common = {git = "https://github.com/paritytech/substrate"}
sc-executor-wasmi = {git = "https://github.com/paritytech/substrate", optional = true}
sled = "0.34.6"
sp-core = {git = "https://github.com/paritytech/substrate", default-features = false, features = ["full_crypto"]}
sp-io = {git = "https://github.com/paritytech/substrate", optional = true}
sp-runtime = {git = "https://github.com/paritytech/substrate", default-features = false}
sp-version = {git = "https://github.com/paritytech/substrate"}
sp-wasm-interface = {git = "https://github.com/paritytech/substrate", optional = true}
thiserror = "1.0.38"

[features]
active = [
	"sc-executor-wasmi",
	"sp-io",
	"sp-wasm-interface",
]
signer = [
	"plot_icon",
]

[lib]
name = "definitions"
crate-type = ["lib"]

[dev-dependencies]
pretty_assertions = "1.3.0"
