[package]
name = "db_handling"
version = "0.1.0"
authors = ["vera"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sled = "0.34.6"
parity-scale-codec = "2.2.0"
parity-scale-codec-derive = "2.2.0"
hex = "0.4.3"
regex = "1.4.5"
lazy_static = "1.4.0"
sp-core = "3.0.0"
sp-runtime = "3.0.0"
tiny-bip39 = { version = "0.8.0", default-features = false }
blake2-rfc = "0.2.18"
zeroize = "1.4.2"
constants = {path = "../constants"}
defaults = {path = "../defaults"}
definitions = {path = "../definitions"}
qrcode_static = {path = "../qrcode_static"}
chrono = "0.4.19"
plot_icon = "0.1.3"
png = "0.16.8"

[lib]
name = "db_handling"
crate-type = ["lib"]
