name:                     E2E Test

on:
  pull_request:
  push:
    branches:
      - master
      - stable
jobs:
  check:
    name:                 Check on MacOS
    runs-on:              macos-latest
    steps:

      - name:             Cancel Previous Runs
        uses:             styfle/cancel-workflow-action@0.9.1
        with:
          access_token:   ${{ github.token }}

      - name:             Checkout sources
        uses:             actions/checkout@v2.4.0
        with:
          fetch-depth:    50
          submodules:     'recursive'

      - name:             Install dependencies
        run:              |
          brew tap wix/brew
          brew install applesimutils
          gem install xcpretty

      - name:             Rust build
        shell:            bash
        run:              |
          cd scripts
          ./build.sh ios

      - name:             Detox build
        run:              |
          xcodebuild \
            -workspace ios/NativeSigner.xcodeproj/project.xcworkspace \
            -scheme NativeSigner \
            -configuration Debug \
            -sdk iphonesimulator \
            -derivedDataPath ios/build/NativeSigner \
            -UseModernBuildSystem=YES | \
              xcpretty -t && exit ${PIPESTATUS[0]}
