name:                         E2E Test

on:
  pull_request:
  push:
    branches:
      - master
      - stable

jobs:
  check:
    name:                     Check on MacOS
    runs-on:                  macos-13
    steps:

      - name:                 Cancel Previous Runs
        uses:                 styfle/cancel-workflow-action@01ce38bf961b4e243a6342cbade0dbc8ba3f0432 # 0.12.0
        with:
          access_token:       ${{ github.token }}

      - name:                 Checkout sources
        uses:                 actions/checkout@v4.1.1
        with:
          fetch-depth:        50
          submodules:         'recursive'

      - name:                 Setup Ruby
        uses:                 ruby/setup-ruby@v1
        with:
          ruby-version:       '2.7'
          bundler-cache:      true

      - name:                 Setup - Xcode
        run:                  sudo xcode-select -switch '/Applications/Xcode_15.0.app/Contents/Developer' && /usr/bin/xcodebuild -version

      - name:                 Install dependencies
        run:                  |
          brew install swiftgen
          brew install swiftformat

      - name: Get cached Swift Packages managed by Xcode
        uses: actions/cache@v3
        with:
          path: ~/Library/Developer/Xcode/DerivedData/**/SourcePackages/
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name:                 Install Rust targets
        uses:                 dtolnay/rust-toolchain@stable
        with:
          targets:            x86_64-apple-ios,aarch64-apple-ios
          components:         rust-std

      - name:                 Install uniffi_bindgen
        uses:                 actions-rs/install@v0.1
        with:
          crate:              uniffi_bindgen
          version:            0.22.0 # Must be in sync with version in Cargo.toml
          use-tool-cache:     true

      - name:                 Rust Cache
        uses:                 Swatinem/rust-cache@3cf7f8cc28d1b4e7d01e3783be10a97d55d483c8 # v2.7.1
        with:
          workspaces:         rust -> rust/target

      - name:                 Build iOS and run tests
        shell:                bash
        run:                  |
          cd ios
          bundle exec fastlane run_unit_tests
