name:                         E2E Test

on:
  pull_request:
  push:
    branches:
      - master
      - stable

jobs:
  check:
    name:                     Check on MacOS
    runs-on:                  macos-12
    steps:

      - name:                 Cancel Previous Runs
        uses:                 styfle/cancel-workflow-action@b173b6ec0100793626c2d9e6b90435061f4fc3e5 # 0.11.0
        with:
          access_token:       ${{ github.token }}

      - name:                 Checkout sources
        uses:                 actions/checkout@v3.2.0
        with:
          fetch-depth:        50
          submodules:         'recursive'

      - name:                 Setup - Xcode
        run:                  sudo xcode-select -switch '/Applications/Xcode_14.0.app/Contents/Developer' && /usr/bin/xcodebuild -version

      - name:                 Install dependencies
        run:                  |
          brew update
          brew install swiftgen
          brew install swiftformat
          brew install xcbeautify

      - name: Get cached Swift Packages managed by Xcode
        uses: actions/cache@v3
        with:
          path: ~/Library/Developer/Xcode/DerivedData/**/SourcePackages/
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name:                 Install Rust aarch64-apple-ios target
        uses:                 actions-rs/toolchain@v1.0.7
        with:
          profile:            minimal
          toolchain:          stable
          target:             aarch64-apple-ios
          components:         rust-std
          override:           true

      - name:                 Install Rust x86_64-apple-ios target
        uses:                 actions-rs/toolchain@v1.0.7
        with:
          profile:            minimal
          toolchain:          stable
          target:             x86_64-apple-ios
          components:         rust-std
          override:           true

      - name:                 Install uniffi_bindgen
        uses:                 actions-rs/install@v0.1
        with:
          crate:              uniffi_bindgen
          version:            0.21.0 # Must be in sync with version in Cargo.toml
          use-tool-cache:     true

      - name:                 Rust Cache
        uses:                 Swatinem/rust-cache@359a70e43a0bb8a13953b04a90f76428b4959bb6 # v2.2.0
        with:
          workspaces:         rust -> rust/target

      - name:                 Build iOS and run tests
        shell:                bash
        run:                  |
          cd ios
          xcodebuild \
          -project NativeSigner.xcodeproj \
          -scheme NativeSigner \
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone 14' \
          test \
          | xcbeautify
