name: Build android app

on:
  pull_request:
  push:
    branches:
      - master
      - stable
jobs:
  #this it tests jobs, called build as it's required name for PR
  build:
    name: Build
    runs-on:            ubuntu-22.04
    steps:
      - name:           Cancel Previous Runs
        uses:           styfle/cancel-workflow-action@b173b6ec0100793626c2d9e6b90435061f4fc3e5 # 0.11.0
        with:
          access_token: ${{ github.token }}

      - name:           Checkout Sources
        uses:           actions/checkout@v3.5.3
        with:
          fetch-depth:  50
          submodules:   'recursive'

      - name:           Install System Dependencies (Linux)
        run:            |
          sudo apt-get update
          sudo apt-get install -y clang libclang-dev libopencv-dev

      - name:           Install Rust stable toolchain
        uses:           actions-rs/toolchain@v1
        with:
          profile:      minimal
          toolchain:    stable
          override:     true

      - name:                 Install uniffi_bindgen
        uses:                 actions-rs/install@v0.1
        with:
          crate:              uniffi_bindgen
          version:            0.22.0 # Must be in sync with version in Cargo.toml
          use-tool-cache:     true

      - name:           Install additional rust targets
        run:            rustup target add aarch64-linux-android armv7-linux-androideabi x86_64-linux-android

      - name:           Set up JDK environment
        uses:           actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 17

      - name:           Install NDK
        run:            echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;24.0.8215888" --sdk_root=${ANDROID_SDK_ROOT}

      - name:           Rust Cache
        uses:           Swatinem/rust-cache@578b235f6e5f613f7727f1c17bd3305b4d4d4e1f # v2.6.1
        with:
          workspaces:   rust -> rust/target

      - name:           Gradle Cache
        uses:           actions/cache@v3
        with:
          path:         |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name:           Build
        run:            |
          ./gradlew :android:testDebugUnitTest

  makeapk:
    name: Build unsigned APKs
    runs-on: ubuntu-22.04
    # if: github.ref == ' refs/head/main'
    steps:
      - name:           Cancel Previous Runs
        uses:           styfle/cancel-workflow-action@b173b6ec0100793626c2d9e6b90435061f4fc3e5 # 0.11.0
        with:
          access_token: ${{ github.token }}

      - name:           Checkout Sources
        uses:           actions/checkout@v3.5.3
        with:
          fetch-depth:  50
          submodules:   'recursive'

      - name:           Install System Dependencies (Linux)
        if: runner.os == 'Linux'
        run:            |
          sudo apt-get update
          sudo apt-get install -y clang libclang-dev libopencv-dev

      - name:           Install Rust stable toolchain
        uses:           actions-rs/toolchain@v1
        with:
          profile:      minimal
          toolchain:    stable
          override:     true

      - name:                 Install uniffi_bindgen
        uses:                 actions-rs/install@v0.1
        with:
          crate:              uniffi_bindgen
          version:            0.22.0 # Must be in sync with version in Cargo.toml
          use-tool-cache:     true

      - name:           Install additional rust targets
        run:            rustup target add aarch64-linux-android armv7-linux-androideabi x86_64-linux-android

      - name:           Set up JDK environment
        uses:           actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 17

      - name:           Install NDK
        run:            echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;24.0.8215888" --sdk_root=${ANDROID_SDK_ROOT}

      - name:           Rust Cache
        uses:           Swatinem/rust-cache@578b235f6e5f613f7727f1c17bd3305b4d4d4e1f # v2.6.1
        with:
          workspaces:   rust -> rust/target

      - name:           Gradle Cache
        uses:           actions/cache@v3
        with:
          path:         |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name:           Assemble unsigned debug apk
        run:            |
          ./gradlew clean assembleDebug --stacktrace

      - name:           Upload Gplay unsigned APKs
        uses:           actions/upload-artifact@v3
        with:
          name:         signer-debug-unsigned
          path:         |
            android/build/outputs/apk/debug/*.apk
