name: Build android app

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - master
      - stable
jobs:
  #this it tests jobs, called build as it's required name for PR
  build:
    name: Build
    runs-on:            ubuntu-22.04
    steps:
      - name:           Cancel Previous Runs
        uses:           styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # 0.12.1
        with:
          access_token: ${{ github.token }}

      - name:           Checkout Sources
        uses:           actions/checkout@v4.1.1
        with:
          fetch-depth:  50
          submodules:   'recursive'

      - name:           Install System Dependencies (Linux)
        run:            |
          sudo apt-get update
          sudo apt-get install -y clang libclang-dev libopencv-dev

      - name:           Install Rust stable toolchain
        uses:           dtolnay/rust-toolchain@stable

      - name:                 Install uniffi_bindgen
        uses:                 actions-rs/install@v0.1
        with:
          crate:              uniffi_bindgen
          version:            0.22.0 # Must be in sync with version in Cargo.toml
          use-tool-cache:     true

      - name:           Install additional rust targets
        run:            rustup target add aarch64-linux-android armv7-linux-androideabi x86_64-linux-android

      - name:           Set up JDK environment
        uses:           actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17

      - name:           Install NDK
        run:            echo "y" | sudo ${ANDROID_SDK_ROOT}/cmdline-tools/latest/bin/sdkmanager --install "ndk;24.0.8215888" --sdk_root=${ANDROID_SDK_ROOT}

      - name:           Rust Cache
        uses:           Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          workspaces:   rust -> rust/target

      - name:           Gradle Cache
        uses:           actions/cache@v3
        with:
          path:         |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name:           Build
        run:            |
          ./gradlew :android:testDebugUnitTest

  makeapk:
    name: Build unsigned APKs
    runs-on: ubuntu-22.04
    # if: github.ref == ' refs/head/main'
    steps:
      - name:           Cancel Previous Runs
        uses:           styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # 0.12.1
        with:
          access_token: ${{ github.token }}

      - name:           Checkout Sources
        uses:           actions/checkout@v4.1.1
        with:
          fetch-depth:  50
          submodules:   'recursive'

      - name:           Install System Dependencies (Linux)
        if: runner.os == 'Linux'
        run:            |
          sudo apt-get update
          sudo apt-get install -y clang libclang-dev libopencv-dev

      - name:           Install Rust stable toolchain
        uses:           dtolnay/rust-toolchain@stable

      - name:                 Install uniffi_bindgen
        uses:                 actions-rs/install@v0.1
        with:
          crate:              uniffi_bindgen
          version:            0.22.0 # Must be in sync with version in Cargo.toml
          use-tool-cache:     true

      - name:           Install additional rust targets
        run:            rustup target add aarch64-linux-android armv7-linux-androideabi x86_64-linux-android

      - name:           Set up JDK environment
        uses:           actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17

      - name:           Install NDK
        run:            echo "y" | sudo ${ANDROID_SDK_ROOT}/cmdline-tools/latest/bin/sdkmanager --install "ndk;24.0.8215888" --sdk_root=${ANDROID_SDK_ROOT}

      - name:           Rust Cache
        uses:           Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          workspaces:   rust -> rust/target

      - name:           Gradle Cache
        uses:           actions/cache@v3
        with:
          path:         |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name:           Assemble unsigned debug apk
        run:            |
          ./gradlew clean assembleDebug --stacktrace

      - name:           Upload Gplay unsigned APKs
        uses:           actions/upload-artifact@v4
        with:
          name:         signer-debug-unsigned
          path:         |
            android/build/outputs/apk/debug/*.apk
