name:                     Check links and Publish Docs

on:
  pull_request:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/docs.yml'
      - 'docs/**'

jobs:
  deploy-docs:
    name:                 Deploy docs
    runs-on:              ubuntu-latest
    steps:

      - name:             Cancel Previous Runs
        uses:             styfle/cancel-workflow-action@0.9.1
        with:
          access_token:   ${{ github.token }}

      - name:             Checkout repository
        uses:             actions/checkout@v3.0.2

      - name:             Use Rust toolchain
        uses:             actions-rs/toolchain@v1
        with:
          toolchain:      stable

      - name:             Setup mdBook
        uses:             peaceiris/actions-mdbook@v1.1.14
        with:
          mdbook-version: 'latest'

      - name:             Install mdbook-linkcheck
        uses:             baptiste0928/cargo-install@v1
        with:
          crate:          mdbook-linkcheck

      - name:             Install mdbook-mermaid
        uses:             baptiste0928/cargo-install@v1
        with:
          crate:          mdbook-mermaid

      - name:             Build docs
        run:              |
          mdbook build docs

      - name:             Deploy documentation
        uses:             peaceiris/actions-gh-pages@v3
        if:               ${{ github.ref == 'refs/heads/master' }}
        with:
          github_token:   ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir:    docs/book/html/
