name:                   Rust backend test for android

on:
  pull_request:
  push:
    branches:
      - master
      - stable
jobs:
  check:
    name:               Check
    runs-on:            ubuntu-latest
    steps:
      - name:           Checkout sources
        uses:           actions/checkout@v2
        with:
          fetch-depth:  50
      - name:           Checkout submodules
        shell:          bash
        run:            git submodule update --init --recursive
      - name:           cargo test
        shell:          bash
        run:            |
                        cd rust 
                        cp os-specific-lock/android/Cargo.lock . 
                        cp signer/android-hack/Cargo.toml signer
                        cargo test 
                        cd ..
