name:                     Check cargo deny

on:
  pull_request:
  push:
    branches:
      - master
      - stable
    paths-ignore:
      - 'ios/**'
      - 'android/**'
jobs:
  cargo-deny:
    name:                 Cargo deny
    runs-on:              ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories

    continue-on-error:    ${{ matrix.checks == 'advisories' }}

    steps:
      - name:               Checkout Sources
        uses:               actions/checkout@v3.2.0

      - name:               Run cargo-deny
        uses:               EmbarkStudios/cargo-deny-action@8a8607bd8e2b3a514d5a40174cc7c55b229d9ba7 # v1.4.0
        with:
          command:          --manifest-path=./rust/Cargo.toml check ${{ matrix.checks }}
