name:                         Rust backend test for android

on:
  pull_request:
  push:
    branches:
      - master
      - stable
jobs:
  check:
    name:                     Cargo test on Ubuntu
    runs-on:                  ubuntu-22.04
    steps:

      - name:                 Cancel Previous Runs
        uses:                 styfle/cancel-workflow-action@b173b6ec0100793626c2d9e6b90435061f4fc3e5 # 0.11.0
        with:
          access_token:       ${{ github.token }}

      - name:                 Checkout sources
        uses:                 actions/checkout@v3.5.0
        with:
          fetch-depth:        50
          submodules:         'recursive'

      - name:                 Install system dependancies
        run:                  |
          sudo apt update
          sudo apt install -y clang libclang-dev libopencv-dev

      - name:                 Install Rust stable toolchain
        uses:                 actions-rs/toolchain@v1.0.7
        with:
          profile:            minimal
          toolchain:          stable
          override:           true

      - name:                 Install cargo-nextest
        uses:                 baptiste0928/cargo-install@2cfb0024938d23011106cbf127b393bc83fddba1 # v1.3.1
        with:
          crate:              cargo-nextest
          version:            0.9

      - name:                 Install uniffi_bindgen
        uses:                 actions-rs/install@v0.1
        with:
          crate:              uniffi_bindgen
          version:            0.22.0 # Must be in sync with version in Cargo.toml
          use-tool-cache:     true

      - name:                 Rust Cache
        uses:                 Swatinem/rust-cache@6fd3edff6979b79f87531400ad694fb7f2c84b1f # v2.2.1
        with:
          workspaces:         rust -> rust/target

      - name:                 cargo nextest
        run:                  |
          cd rust
          cargo nextest run --retries 2 --locked
          cargo nextest run --no-default-features --features active --retries 2 --locked
          cargo nextest run --no-default-features --retries 2 --locked
