
name:                         Rust clippy

on:
  pull_request:
  push:
    branches:
      - master
      - stable

jobs:
  linter:
    name:                     Cargo clippy
    runs-on:                  ubuntu-latest
    steps:

      - name:                 Cancel Previous Runs
        uses:                 styfle/cancel-workflow-action@0.9.1
        with:
          access_token:       ${{ github.token }}

      - name:                 Checkout sources
        uses:                 actions/checkout@v2.4.0
        with:
          fetch-depth:        50
          submodules:         'recursive'

      - name:                 Install Rust stable toolchain
        uses:                 actions-rs/toolchain@v1.0.7
        with:
          profile:            minimal
          toolchain:          stable
          override:           true

      - name:                 Rust Cache
        uses:                 Swatinem/rust-cache@v1.3.0
        with:
          working-directory:  rust

      - name:                 cargo clippy
        run:                  |
          cd rust
          cp os-specific-lock/android/Cargo.lock .
          cp signer/android-hack/Cargo.toml signer
          cargo clippy --all-targets --all-features -- -D warnings
