name:                         Rust clippy

on:
  pull_request:
  push:
    branches:
      - master
      - stable

jobs:
  linter:
    name:                     Cargo clippy
    runs-on:                  ubuntu-latest
    steps:

      - name:                 Cancel Previous Runs
        uses:                 styfle/cancel-workflow-action@b173b6ec0100793626c2d9e6b90435061f4fc3e5 # 0.11.0
        with:
          access_token:       ${{ github.token }}

      - name:                 Checkout sources
        uses:                 actions/checkout@v3.1.0
        with:
          fetch-depth:        50
          submodules:         'recursive'

      - name:                 Install system dependancies
        run:                  |
          sudo apt update
          sudo apt install -y clang libclang-dev libopencv-dev

      - name:                 Install Rust stable toolchain
        uses:                 actions-rs/toolchain@v1.0.7
        with:
          profile:            minimal
          toolchain:          stable
          override:           true

      - name:                 Install uniffi_bindgen
        uses:                 actions-rs/install@v0.1
        with:
          crate:              uniffi_bindgen
          version:            0.20.0 # Must be in sync with version in Cargo.toml
          use-tool-cache:     true

      - name:                 Rust Cache
        uses:                 Swatinem/rust-cache@22c9328bcba27aa81a32b1bef27c7e3c78052531 # v2.0.0
        with:
          workspaces:         rust -> rust/target

      - name:                 cargo clippy
        run:                  |
          cd rust
          cargo clippy --all-targets --all-features -- -D warnings
