name:                         Rust backend test for ios

on:
  pull_request:
  push:
    branches:
      - main
      - stable

jobs:
  check:
    name:                     Cargo test on macOS
    runs-on:                  macos-latest
    steps:

      - name:                 Cancel Previous Runs
        uses:                 styfle/cancel-workflow-action@0.10.0
        with:
          access_token:       ${{ github.token }}

      - name:                 Checkout sources
        uses:                 actions/checkout@v3.0.2
        with:
          fetch-depth:        50
          submodules:         'recursive'

      - name:                 Install dependencies
        run:                  |
          brew install opencv

      - name:                 Install Rust stable toolchain
        uses:                 actions-rs/toolchain@v1.0.7
        with:
          profile:            minimal
          toolchain:          stable
          override:           true

      - name:                 Install cargo-nextest
        uses:                 baptiste0928/cargo-install@v1
        with:
          crate:              cargo-nextest
          version:            0.9

      - name:                 Install uniffi_bindgen
        uses:                 actions-rs/install@v0.1
        with:
          crate:              uniffi_bindgen
          version:            0.18.0 # Must be in sync with version in Cargo.toml
          use-tool-cache:     true

      - name:                 Rust Cache
        uses:                 Swatinem/rust-cache@v1.4.0
        with:
          working-directory:  rust

      - name:                 cargo nextest
        shell:                bash
        run:                  |
          cd rust
          export DYLD_FALLBACK_LIBRARY_PATH="$(xcode-select --print-path)/Toolchains/XcodeDefault.xctoolchain/usr/lib/"
          cargo nextest run --retries 2 --locked
