name:                         Rust clippy

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - master
      - stable
jobs:
  linter:
    name:                     Cargo clippy
    runs-on:                  ubuntu-latest
    steps:

      - name:                 Cancel Previous Runs
        uses:                 styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # 0.12.1
        with:
          access_token:       ${{ github.token }}

      - name:                 Checkout sources
        uses:                 actions/checkout@v4.1.1
        with:
          fetch-depth:        50
          submodules:         'recursive'

      - name:                 Install system dependancies
        run:                  |
          sudo apt update
          sudo apt install -y clang libclang-dev libopencv-dev

      - name:                 Install Rust stable toolchain
        uses:                 dtolnay/rust-toolchain@stable

      - name:                 Install uniffi_bindgen
        uses:                 actions-rs/install@v0.1
        with:
          crate:              uniffi_bindgen
          version:            0.22.0 # Must be in sync with version in Cargo.toml
          use-tool-cache:     true

      # - name:                 Rust Cache
      #   uses:                 Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
      #   with:
      #     workspaces:         rust -> rust/target

      - name:                 cargo clippy
        run:                  |
          cd rust
          cargo clippy --all-targets --all-features -- -D warnings
