name:                   Rust backend test for android

on:
  pull_request:
  push:
    branches:
      - master
      - stable

jobs:
  check:
    name:               Check
    runs-on:            ubuntu-latest
    steps:

      - name:           Checkout sources
        uses:           actions/checkout@v2.4
        with:
          fetch-depth:  50
          submodules:   'recursive'

      - name:           Install system dependancies
        run:            |
          sudo apt update
          sudo apt install -y clang libclang-dev libopencv-dev

      - name:           cargo test
        run:            |
          cd rust
          cp os-specific-lock/android/Cargo.lock .
          cp signer/android-hack/Cargo.toml signer
          cargo test
