name: Check cargo deny

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  cargo-deny:
    name: Cargo deny
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories

    continue-on-error: ${{ matrix.checks == 'advisories' }}

    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4.1.1

      - name: Run cargo-deny
        uses: EmbarkStudios/cargo-deny-action@v2.0.4
        with:
          manifest-path: ./rust/Cargo.toml
          command: check ${{ matrix.checks }}
