name:                         Semantic PR

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

permissions:
  pull-requests: write
  statuses: write

jobs:
  main:
    # By default, these PR titles are allowed:
    # https://github.com/commitizen/conventional-commit-types
    name:                     Validate PR title
    runs-on:                  ubuntu-latest
    steps:

      # Documentation: https://github.com/amannn/action-semantic-pull-request
      - uses:                 amannn/action-semantic-pull-request@e9fabac35e210fea40ca5b14c0da95a099eff26f # v5.4.0
        env:
          GITHUB_TOKEN:       ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            major
            feat
            fix
            chore
            docs
            style
            refactor
            test
            build
            ci
            revert
          validateSingleCommit: true
          wip: true
